
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div style=" margin-top:80px ; text-align:center ">
        <h2 style="color:red">Error</h2>
        <h1 style="color:red">Something went wrong! ...  </h1>
        <h2>Please, Check if you 're missing somthing</h2>
    </div>
</body>
</html>
