
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div style=" margin-top:80px ; text-align:center "> 
        <h2 style="color:red">Error 404</h2>
        <h1 style="color:red">OOPS This Page is not found! ... Please, Check your Url </h1>
    </div>
</body>
</html>
